
@import "../defaults.scss";

.button {
  font-family: $text-fontFamily;
  border: 1px solid #ccc;
  border-radius: steps(2);
  cursor: pointer;
  display: inline-block;
  font-size: remSteps(1);
  font-weight: 300;
  line-height: 1.42857143;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.primary {
  background-color: $color-primary;
  color: $color-black;
  transition: 0.5s all ease-in-out;
  &:hover {
    opacity: 50%;
    background-color: $color-activeNavigation;
  }
}

.secondary {
  background-color: $color-secondary;
  color: $color-white;
  transition: 0.5s all ease-in-out;
  &:hover {
    opacity: 50%;
  }
}

