@import "../defaults.scss";

.form {
    display: flex;
    flex-wrap: wrap;
    font-family: $text-fontFamily;

    label {
        flex-basis: 100%;
        text-align: center;
        margin: steps(2);
        font-size: remSteps(1.5);
    }

    div {
        display: flex;
        flex-basis: 100%;
        align-items: center;
        justify-content: center;
        margin: steps(2);
    }

    input {
        width: steps(100);
        margin: 0.5rem;
        padding: 0.4rem;
        border-radius: steps(2);
        border: 1px solid $color-secondary;
        font-size: 1rem;
        
        &:focus {
          outline: none;
          border-color: $color-activeNavigationText;
          box-shadow: 0 0 0 0.2rem $color-activeNavigation;
        }
        
        &::placeholder {
          color: #999;
        }
      }

      p {
        @include input-field-error-text()
      }
      
}