@import "../defaults.scss";


.validation-form {
  display: flex;
  flex-direction: column;
  max-width: steps(120);

  border: 2px solid $color-primary;
  border-radius: steps(4);
  padding: steps(8);
  margin: steps(6) auto;
  row-gap: steps(4);

  label {
    text-decoration: underline;
    font-size: 1.5rem;

  }

  input{
    display: flex;
    width: 95%;
    margin: steps(3) auto 0 auto;
    padding: 0.4rem;
    border-radius: steps(2);
    border: 1px solid $color-secondary;
    font-size: 1rem;
    align-items: center;
    
    &:focus {
      outline: none;
      border-color: $color-activeNavigationText;
      box-shadow: 0 0 0 0.2rem $color-activeNavigation;
    }
    
    &::placeholder {
      color: #999;
    }
  }
  
  .errorText {
    display: inline-block;
    text-decoration: none !important;
    @include input-field-error-text()
  }
}

