@import "../defaults.scss";


.article-form {
  display: flex;
  flex-direction: column;

  border: 2px solid $color-primary;
  border-radius: steps(4);
  padding: steps(4);
  row-gap: steps(4);
  max-width: 600px;
  margin: steps(4) auto;

  label {
    text-decoration: underline;
    font-size: 1.5rem;

  }

  input, textarea, select{
    display: flex;
    width: 95%;
    margin: 0.5rem;
    padding: 0.4rem;
    border-radius: steps(2);
    border: 1px solid $color-secondary;
    font-size: 1rem;
    align-items: center;
    
    &:focus {
      outline: none;
      border-color: $color-activeNavigationText;
      box-shadow: 0 0 0 0.2rem $color-activeNavigation;
    }
    
    &::placeholder {
      color: #999;
    }
  }
}

