@import '/src/styles/defaults.scss';

.button {
    font-size: small;
}

.primary {
    background-color: $color-primary;
    color: $color-black;
    transition: 0.5s all ease-in-out;
    &hower {
        opacity: 80%;
    }
}

.secondary {
    background-color: $color-secondary;
    color: $color-white;
    transition: 0.5s all ease-in-out;
    &hower {
        opacity: 80%;
    }
}