$color-primary: orange;
$color-secondary: darkblue;
$color-white: white;
$color-black: black;

$color-good-text: rgb(16, 16, 127);
$color-bad-text: rgb(192, 17, 17);

@function steps($number){
    @return $number * 4px;
}

@mixin for-at-least ($min-width: 600px, $max-width: 900px){
    @media only screen and (min-width: $min-width) and (max-width: $max-width){
        @content;
    }
}
/*
$phone: 600px;
$table: 900px;
$desktop: 1200px;

@mixin at-least ($min-width: $phone){
    @media only screen and (min-width: $min-width){
        @content;
    }
}
*/