@import "../defaults.scss";

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(114, 177, 148, 0.3);
    visibility: hidden;
    transition: 0.3s ease-in-out;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        background-color: $color-background;
        width: 100%;
        max-width: 500px;
        border-radius: steps(4);
    }
}

.modal-open {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}